# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
.pnpm-debug.log*

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# OSX
.DS_Store

# Android/IJ
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# Build artifacts
build/
android/app/build/
android/.gradle/
ios/Pods/
ios/.xcode.swifo
ios/build/

# Vercel (if deploying web build)
.vercel
